Repository IU-Capstone-Project-2024/MoniDorm, pull requests merged in 2024-07, with the labels that each got.

#36 Docker/ecosystem
  bot.Dockerfile
  docker-compose.yml
  failureAlerting.Dockerfile
Labels: documentation, backend, feature, telegram-bot, database

#39 Enhance set of tests + SonarQube
  .github/workflows/monidorm.yml
  pom.xml
  src/main/java/com/java/api/AnalystSystemAPI.java
  src/main/java/com/java/api/AnalystSystemController.java
  src/main/java/com/java/api/model/PostFailureConfirmationByAnalyticSystemRequest.java
  src/test/java/com/java/IntegrationEnvironment.java
  src/test/java/com/java/api/AdminPanelControllerTest.java
  src/test/java/com/java/api/ReportControllerTest.java
Labels: backend, feature

#41 impl(api-server): cors
  src/main/java/com/java/configuration/WebConfig.java
Labels: backend, feature

#60 Dockerize Admin panel frontend
  .github/workflows/deploy.yml
  frontend/Dockerfile
  frontend/README.Docker.md
  frontend/README.md
Labels: frontend, feature
